.service{
    width: 1110px;
    padding-top: 90px;
    margin: 0 auto;
}

.name{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding-top: 31px;
    color: rgb(51, 51, 51);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

.title_name{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: rgb(51, 51, 51);
    text-align: center;
    font-weight: 400;
}

.sab_title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}

.sab_title::after{
    content:"";
    width: 60px;
    height: 3px;
    display: block;
    margin: 42px auto 42px auto;
    background-color: #f38181;
   
}

.card{
    width: 330px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.card_wrapper{
   display: flex;
   justify-content: space-between;
   margin-top: 90px;
   flex-wrap:wrap;
 
}

.card_image{
    width: 32px;
    height: 32px;
}

.card_text_wrapper{
  width: 269px;
}



.text_image_title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 auto;
    display: flex;
    color: rgb(51, 51, 51);
    margin-bottom: 20px;
}



.card_image_desc{
    font-family: "Roboto", sans-serif;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
}

