.header{
  width: 1110px;
  padding-top: 30px;
}

.logo{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.logo_link{
  color:#95e1d3;
}

.menu{
  font-family: 'Montserrat', sans-serif;
}

.menu_list{

}

.menu_list_item{

}

.list_item_link{
  font-size: 14px;
  text-transform: uppercase;
}

