.header{
  width: 1110px;
  padding-top: 30px;
}

@font-face {
  font-family:"Windos Script" ;
  src: url(../fonts/WisdomScriptAJ-bg.png);
}


.logo{
   
}

.logo_link{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 30px;
    color: #95e1d3;
}

.menu{

}

.menu_list{

}

.menu_list_item{

}

.list_item_link{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
   text-align: center;
   text-transform: uppercase;
   color: #f38181;
}

.list_item_link:hover{
background-color:#f38181;
border-bottom: 2px solid #f38181;
}