.header{
    width: 900px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
}

.menu{
    display: inline-block;
}

.menu_list{}

.menu_list_item{
    list-style: none;
    display: inline-block;
    margin-right: 114px;
}

.menu_list_item_link{
    text-transform: uppercase;
    color: rgba(98, 98, 98, 255);
    text-decoration: none; 
    font-weight: 700;
}

.menu_list_item_link:hover {
    color: #3a05ce;
}