.header {}

.menu {}

.menuList {
    margin: 0 auto;
    text-align: center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;

    margin: 10px ;

}

.menuListItem {
    list-style: none;
    display: inline-block;
    margin-right: 100px;
}

.menuListItem:last-child {
    margin-right: 0;
}

.Itemlink {
    font-size: 14px;
    text-transform: uppercase;
    color:#000;
    text-decoration: none;
}
