.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 0;
    width: 1200px;
    justify-content: space-between;

}
  
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: grey;
    display: flex;
    z-index: 9;
}
  
.list{
  display: flex;
  justify-content: center;
  align-self: center;
  width: 225px;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%); 

}

.list{
  display: flex;
  width: 225px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%) ;
}

.photo{
  padding: 15px; 
  background-color: #fce38a;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 40px;
  height: 40px;
  margin-right: 1px;
}

.photo:hover{
  background-color: #95e1d3;
}

  .logo{
   
  }
  
  .logo_link{
    font-family: 'Montserrat', sans-serif;
    color: yellow;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
   
  }
  
  .menu{
   font-size: 14px;
   width: 490px;
   padding-top: 10px;
  }
  
  .menu_list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  
  .menu_list_item{
  padding-bottom: 10px;
  border-bottom: 3px valid transparent;
  }
  
  
  .list_item_link{
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: yellow;
    font-weight: bold;
    margin: 0 auto;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
  }
  
.list_item_link:hover{
    color: yellow;
    border-bottom: 3px solid yellow;
    padding-bottom: 12px;
} 

